
  .we-are-looking-for-t {
  color: #4A4A4A;
  font-family: Avenir;
  font-size: 38px;
  font-weight: 900;
  line-height: 48px;
  text-align: left;
  margin: 1%;
}

  body{
    overflow-x: hidden;
  }


  .button-2-aa{
    font-weight: bold;
    background-color: rgb(252, 252, 252);
    padding: 15px 40px 15px 40px;
    color: #000;
    border: 2px solid white;
  }
  .button-2-aa:hover{
        border:4px solid rgb(252, 252, 252);
        font-weight:bold;
        color:#000;
        transform:scale(1.1);transition:.1s;
        box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.37),0 6px 20px 0 rgba(0, 0, 0, 0.37)
      }

  body{
    background-color: white;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .c {
        color: #9B9B9B;
        font-family: Avenir;
        font-size: 36px;
        font-weight: 900;
        line-height: 43px;
        text-align: left;
      }
  .rectangle-002-black {
  border: 5px solid #FFFFFF;
  width: 240px;
  height: 80px;
  background-color: #262626; 
}
.rectangle-002-black:hover{
  border:3px solid #262626;
  font-weight:bold;
  color:#000;
  transform:scale(1.1);
  transition:.1s;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.37),0 6px 20px 0 rgba(0, 0, 0, 0.37);
}
.rectangle-002 {
  border: 5px solid #4A4A4A;
  background-color: rgb(245, 245, 245);
  width: 240px;
  height: 80px;
}
.rectangle-002:hover{
  border:3px solid #ffff;
  font-weight:bold;
  color:#000;
  transform:scale(1.1);
  transition:.1s;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.37),0 6px 20px 0 rgba(0, 0, 0, 0.37);
}
.read-moree {
  background-color: white;
  color: #4A4A4A;
  font-family: Avenir;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
}
.read-more-white {
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
}
.txt{
  font-size:52px;
  font-weight:bold;margin-top: 2rem;color: black
}
.tix{
  margin-top:10px; font-size: 18px; padding-right: 11%;font-weight: 400
}
.jim{
  font-weight:500;font-size:28px;line-height: 43px;
}
@media(max-width: 900px){
  .txt{
  font-size:26px;
  font-weight:bold;margin-top: 70px;color: black
}
.tix{
  margin-top:5px; font-size: 12px; padding-right: 11%;font-weight: 400; line-height: 18px;
}
.jim{
  font-size: 16px;line-height: 19px;
}
}
.pr-1{
        margin-right: 10px;
      }
      .awesome-font{
        color: black;
        font-size: 20px;
      }
      .font-foot{
        font-family: Avenir;
      font-size: 20px;
      line-height: 12px;
      text-align: left;
      font-weight: 400;
      color: black

      }
      .font-job{
        font-family: Avenir;
  font-size: 24px;
  font-weight: 400;
  line-height: 8px;
      }
    .font-modal{
      color: #000000;
      font-family: Avenir;
      font-size: 18px;
      line-height: 26px;
      text-align: left;
      font-weight: 500;
    }
    .foto-tim{
      width:420px;
      height:580px;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
    }
      /* .modal-dialog {
        height: 655px;
        padding: 0;
        margin: 0;
        margin-left: 100px;
}
      .modal-size{
        background-color: #FFFFFF;
        height: 655px;
      } */
      .font-modal{
        color: #000000;
        font-family: Avenir;
        font-size: 18px;
        line-height: 26px;
        text-align: left;
        font-weight: 500;
      }
    .back{
      width:30px;
      height: 30px;
      margin-left: -16px;
      margin-top: -16px;
      margin-bottom: 5px;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .foto-tim{
      width:420px;
      height:580px;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .pdm{
      padding-left: 140px;padding-top: 20px
    }
    .blackee{
      -webkit-filter:brightness(97%); 
      width:420px;
      height:580px;
      background-color: black
    }
    .font-job{
      font-family: Avenir;
      font-size: 24px;
      font-weight: 400;
      line-height: 8px;
    }    
    @media(max-width:900px){
      .p10yeh{
          padding-left:7%;
      }
      .foto-tim{
        width:0;
        height:0;
      }
      .h1media{
        font-size: 26px
      }
      .pdm{
        padding:0;
        padding-left: 13px
      }
      .blackee{
        width:0px;
        height:0px;
      }
      .font-job{
          font-family: Avenir;
          font-size: 18px;
          font-weight: 400;
          line-height: 8px;
        }
      }